
<ion-content>
  <ion-row>
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col><ion-title class="title">DAILY MOTHER</ion-title></ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-row>
  <br>
  <br>
  <ion-row>
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col><img class="image" src="assets/icon/women-logo.svg" alt="logo" srcset="" /></ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-row>
  <br>
  <br>
  <ion-row>
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col> <ion-title class="title-login">Crear Cuenta</ion-title></ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-row>
  <br>
  <br>
  <ion-row>
    <br>
    <br>
  </ion-row>
  <form class="form">
    <ion-item class="input" lines="full">
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>
    <br>
    <br>
    <ion-item class="input" lines="full">
      <ion-label position="floating">Correo electronico</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>
    <br>
    <br>
    <ion-item class="input" lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required></ion-input>
    </ion-item>
    <ion-row>
      <br>
      <br>
      <br>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button href="/tabs/tab1" >Iniciar sesion</ion-button>

      </ion-col>
    </ion-row>
  </form>
</ion-content>
